body {

    width: 100vw;
    height: 100vh;
    background-color: #2a282c48;
    background-image: url(notebook.jpg);
    background-repeat: no-repeat;
    animation: movimiento 28s infinite ease-out alternate;
    background-size: cover 1%;
}

@keyframes movimiento {
    0% {
        background-position: bottom left;
    }
    30% {
        background-position: top right;
    }
    60% {
        background-position: top left;
    }
    100% {
        background-position: bottom right;
    }
}


.backdropp {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 12px;
    width: 50%;
}